$colors: (
  primary: (
    300: hsl(216, 87%, 60%),
    400: hsl(216 87% 40%),
    500: rgb(2, 21, 51),
  ),
  secondary: (
    300: hsl(277 50% 60%),
    400: hsl(277 50% 40%),
    500: hsl(277 50% 20%),
  ),
  accent: (
    // red
    300: hsl(358 72% 70%),
    400: hsl(358 72% 53%),
    500: hsl(358 72% 30%),
  ),
  text: (
    300: hsl(218, 83%, 93%),
  ),
);
